<h2><em>All</em> the fun of 'Rock, Paper, Scissors', channeled through the <em>suprising</em> medium of GET requests.</h2>
<h3>Rules: </h3><h5>User 1 adds their choice to the current url, preceded by a forward slash. <br>
  User 2 does just the same and then presses enter. <br>It really is that simple. Hours of fun!</h5>
