<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles.css">
  <title>Rock, Paper, Scissors</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>

  <div class="main_content">

    <h1>Rock, Paper, Scissors</h1>

    <div class="bannerish">
      <img id="rock_image" src="https://openclipart.org/download/34093/rock-RPSWB.svg" alt="rock">
      <img id="paper_image" src="https://openclipart.org/download/32731/paper-RPSWB.svg" alt="paper">
      <img id="scissors_image" src="https://openclipart.org/download/34231/scissors-RPSWB.svg" alt="scissors">
    </div>

  </div>


  <%= yield %>
</body>
</html>
